Repository Likelion-Kwangwoon/ps-study, pull requests merged in 2023-05, with the labels that each got.

#1 [10807] 개수세기
  BOJ/Chaerim/5월1주차/개수세기.py
  README.md
Labels: Python, BOJ

#3 [LV.1] 두 개 뽑아서 더하기
  PRO/ksweeni/.keep
  PRO/ksweeni/5월1주차/두 개 뽑아서 더하기.js
Labels: JS, PRO

#4 [7568] 덩치
  BOJ/linavell/5월1주차/덩치.py
Labels: Python, BOJ

#5 [9012] 괄호
  BOJ/ImNuam/.keep
  BOJ/ImNuam/5월1주차/괄호.py
Labels: Python, BOJ

#6 [7576_2573] 토마토_빙산
  BOJ/chysis/5월1주차/빙산.cpp
  BOJ/chysis/5월1주차/토마토.cpp
Labels: C++, BOJ

#7 [Lv.2] 피로도, k진수에서 소수 개수 구하기
  PRO/hyoribogo/5월1주차/[Lv.2] k진수에서 소수 개수 구하기.js
  PRO/hyoribogo/5월1주차/[Lv.2] 피로도.js
Labels: JS, PRO

#9 [LV.2] 전화번호 목록
  PRO/suhoon/5월1주차/전화번호 목록.py
Labels: Python, PRO

#14 230501
  PRO/kimjaeyoonn/5월 1주차/베스트앨범(Heap).py
Labels: Python, PRO

#15 230502
  PRO/ksweeni/5월1주차/과일 장수.js
  PRO/ksweeni/5월1주차/콜라문제.js
  PRO/ksweeni/5월1주차/푸드 파이트 대회.js
Labels: JS, PRO

#16 [1541,10026] 잃어버린 괄호,적록색약
  BOJ/suhoon/5월1주차/잃어버린 괄호.py
  BOJ/suhoon/5월1주차/적록색약.py
  PRO/suhoon/5월1주차/전화번호 목록.py
Labels: Python, BOJ

#17 [1920] 수 찾기
  BOJ/ImNuam/5월1주차/수 찾기.py
Labels: Python, BOJ

#18 230502
  PRO/hyoribogo/5월1주차/[Lv.3] 최고의 집합. js
Labels: JS, PRO

#19 230502
  PRO/kimjaeyoonn/5월 1주차/베스트앨범(Hash).py
  PRO/kimjaeyoonn/5월 1주차/의상(Hash).py
Labels: Python, PRO

#20 230502
  BOJ/linavell/5월1주차/누울 자리를 찾아라.py
Labels: Python, BOJ

#21 230502
  BOJ/chysis/5월1주차/곱셈.cpp
Labels: C++, BOJ

#22 230502
  BOJ/Chaerim/5월1주차/두수비교하기.py
Labels: Python, BOJ

#23 230502, 230503
  SWEA/Si-Hyun-Park/5월 1주차/[1248]수도 요금 경쟁.py
  SWEA/Si-Hyun-Park/5월 1주차/[1288]새로운 불면증 치료법.py
  SWEA/Si-Hyun-Park/5월 1주차/[1928]Base64 Decoder.py
  SWEA/Si-Hyun-Park/5월 1주차/[1945] 간단한 소인수분해.py
  SWEA/Si-Hyun-Park/5월 1주차/[1959]두개의 숫자열.py
  SWEA/Si-Hyun-Park/5월 1주차/[1986]지그재그 숫자.py
  SWEA/Si-Hyun-Park/5월 1주차/[1989]초심자의 회문검사.py
  SWEA/Si-Hyun-Park/5월 1주차/[2007]패턴 마디의 길이.py
Labels: Python, SWEA

#24 230503
  PRO/ksweeni/5월1주차/소수 만들기.js
  PRO/ksweeni/5월1주차/연속된 수의 합.js
Labels: JS, PRO

#25 230503
  BOJ/chysis/5월1주차/소수의 연속합.cpp
  BOJ/chysis/5월1주차/제곱ㄴㄴ수.cpp
Labels: C++, BOJ

#26 230503
  PRO/hyoribogo/5월1주차/[Lv.0] 연속된 수의 합.js
  PRO/hyoribogo/5월1주차/[Lv.3] 최고의 집합.js
Labels: JS, PRO

#27 230503
  BOJ/suhoon/5월1주차/연구소.py
Labels: Python, BOJ

#29 230503
  PRO/kimjaeyoonn/5월 1주차/같은 숫자는 싫어.py
  PRO/kimjaeyoonn/5월 1주차/전화번호 목록.py
Labels: Python, PRO

#30 230503
  BOJ/linavell/5월1주차/아무래도이문제는A번난이도인것같다.py
Labels: Python, BOJ

#32 230504
  BOJ/chysis/5월1주차/폴리오미노.cpp
Labels: C++, BOJ

#33 230504
  BOJ/linavell/5월1주차/투명.py
Labels: Python, BOJ

#34 230504
  SWEA/Si-Hyun-Park/5월 1주차/[1979]어디에 단어가 들어갈 수 있을까.py
Labels: Python, SWEA

#35 230504
  BOJ/Chaerim/5월1주차/단어의개수.java
Labels: BOJ, JAVA

#36 230504
  PRO/hyoribogo/5월1주차/[Lv.0] 연속된 수의 합.js
  PRO/hyoribogo/5월1주차/[Lv.1] 카드 뭉치.js
Labels: JS, PRO

#37 230504
  PRO/kimjaeyoonn/5월 1주차/가장 큰수(Sort).py
Labels: Python, PRO

#38 230505
  PRO/ksweeni/5월1주차/[3차] 압축.js
  PRO/ksweeni/5월1주차/카드 뭉치.js
Labels: JS, PRO

#39 230505
  BOJ/chysis/5월1주차/토마토(1).cpp
Labels: C++, BOJ

#40 230505
  BOJ/ImNuam/5월1주차/에디터.py
Labels: Python, BOJ

#41 230505
  SWEA/Si-Hyun-Park/5월 1주차/[1948]날짜 계산기.py
  SWEA/Si-Hyun-Park/5월 1주차/[1966]숫자를 정렬하자.py
Labels: Python, SWEA

#42 230505
  BOJ/suhoon/5월1주차/분수찾기.py
  BOJ/suhoon/5월1주차/요세푸스 문제.py
  BOJ/suhoon/5월1주차/좌표 정렬하기.py
  BOJ/suhoon/5월1주차/킹.py
  BOJ/suhoon/5월1주차/한 줄로 서기.py
Labels: Python, BOJ

#43 230508
  PRO/ksweeni/5월2주차/H-Index.js
  PRO/ksweeni/5월2주차/가장 큰 수.js
  PRO/ksweeni/5월2주차/다음 큰 숫자.js
  PRO/ksweeni/5월2주차/다음에 올 숫자.js
  PRO/ksweeni/5월2주차/뒤에 있는 큰 수 찾기.js
  PRO/ksweeni/5월2주차/숫자의 표현.js
  PRO/ksweeni/5월2주차/야근 지수.js
  PRO/ksweeni/5월2주차/이진 변환 반복하기.js
  PRO/ksweeni/5월2주차/최솟값 만들기.js
  PRO/ksweeni/5월2주차/피로도.js
Labels: JS, PRO

#44 230508
  BOJ/chysis/5월1주차/2n 타일링.cpp
  BOJ/chysis/5월1주차/정수 삼각형.cpp
  BOJ/chysis/5월2주차/1로만들기2.cpp
  BOJ/chysis/5월2주차/연속합.cpp
Labels: C++, BOJ

#46 230508
  BOJ/linavell/5월2주차/단어 정렬.py
  BOJ/linavell/5월2주차/벌집.py
Labels: Python, BOJ

#47 230508
  SWEA/Si-Hyun-Park/5월 2주차/[1285]아름이의 돌 던지기.py
  SWEA/Si-Hyun-Park/5월 2주차/[1940]가랏! RC카.py
  SWEA/Si-Hyun-Park/5월 2주차/[1961] 숫자 배열 회전.py
Labels: Python, SWEA

#48 230508
  PRO/kimjaeyoonn/5월 2주차/N번째 큰 수.py
  PRO/kimjaeyoonn/5월 2주차/괄호의 값.py
Labels: Python, PRO

#49 230508
  BOJ/suhoon/5월2주차/단어 나누기.py
  BOJ/suhoon/5월2주차/등수 구하기.py
Labels: Python, BOJ

#50 230509
  BOJ/Chaerim/5월2주차/분수찾기.py
Labels: Python, BOJ

#51 230509
  SWEA/Si-Hyun-Park/5월 2주차/[1954]달팽이 숫자.py
  SWEA/Si-Hyun-Park/5월 2주차/[2001]파리 퇴치.py
Labels: Python, SWEA

#56 230510
  PRO/hyoribogo/5월2주차/[Lv.0] 다음에 올 숫자.js
  PRO/hyoribogo/5월2주차/[Lv.1] 덧칠하기.js
  PRO/hyoribogo/5월2주차/[Lv.2] [3차] 압축.js
  PRO/hyoribogo/5월2주차/[Lv.2] 주차 요금 계산.js
  PRO/hyoribogo/5월2주차/[Lv.3] 야근 지수.js
Labels: JS, PRO

#54 230510
  BOJ/linavell/5월2주차/나이순 정렬.py
  BOJ/linavell/5월2주차/단어 정렬.py
Labels: Python, BOJ

#57 230510
  BOJ/suhoon/5월2주차/숨바꼭질4.py
  BOJ/suhoon/5월2주차/행렬.py
Labels: Python, BOJ

#52 230510
  SWEA/Si-Hyun-Park/5월 2주차/[1974]스도쿠 검증.py
Labels: Python, SWEA

#53 230510
  BOJ/chysis/5월2주차/2n 타일링 2.cpp
  BOJ/chysis/5월2주차/2n 타일링.cpp
  BOJ/chysis/5월2주차/3 더하기 3.cpp
  BOJ/chysis/5월2주차/가장 긴 증가하는 부분 수열.cpp
  BOJ/chysis/5월2주차/가장 큰 증가하는 부분 수열.cpp
  BOJ/chysis/5월2주차/정수 삼각형.cpp
Labels: C++, BOJ

#58 230510
  PRO/ksweeni/5월2주차/주차 요금 계산.js
Labels: JS, PRO

#59 230511
  BOJ/ImNuam/5월1주차/AC.py
Labels: BOJ, JAVA

#63 230511
  BOJ/Chaerim/5월2주차/요세푸스문제.py
  BOJ/Chaerim/5월2주차/요세푸스문제.py.7441cf9f63664c34721301089d32ae5e.tmp
Labels: Python, BOJ

#62 230511
  PRO/ksweeni/5월2주차/덧칠하기.js
Labels: JS, PRO

#61 230511
  PRO/kimjaeyoonn/5월 2주차/DFS 예제.py
  PRO/kimjaeyoonn/5월 2주차/DFS_음료수 얼려먹기.py
Labels: Python, PRO

#60 230511
  BOJ/linavell/5월2주차/영화감독 숌.py
Labels: Python, BOJ

#65 230512
  SWEA/Si-Hyun-Park/5월 2주차/[1204]최빈수 구하기.py
  SWEA/Si-Hyun-Park/5월 2주차/[1984]중간 평균값 구하기.py
Labels: Python, SWEA

#66 230512
  BOJ/ImNuam/5월1주차/덱.py
Labels: Python, BOJ

#68 230512
  BOJ/chysis/5월2주차/1,2,3 더하기 3.cpp
  BOJ/chysis/5월2주차/제곱수의 합.cpp
  BOJ/chysis/5월2주차/파도반 수열.cpp
Labels: C++, BOJ

#69 230512
  PRO/hyoribogo/5월2주차/[Lv.2] 오픈채팅방.js
Labels: JS, PRO

#70 230512
  BOJ/linavell/5월2주차/소수 찾기.py
Labels: Python, BOJ

#71 230512
  PRO/kimjaeyoonn/5월 2주차/일곱 난쟁이.py
Labels: Python, PRO

#77 230515
  PRO/kimjaeyoonn/5월 3주차/지능형 기차2.py
Labels: Python, PRO

#76 230515
  BOJ/Chaerim/5월3주차/카드.py
Labels: Python, BOJ

#74 230515
  PRO/hyoribogo/5월3주차/[Lv.3] 단어 변환.js
Labels: JS, PRO

#73 230515
  BOJ/chysis/5월3주차/쉬운 계단 수.cpp
Labels: C++, BOJ

#72 230515
  PRO/ksweeni/5월3주차/[1차] 다트게임.js
  PRO/ksweeni/5월3주차/게임 맵 최단거리.js
  PRO/ksweeni/5월3주차/네트워크.js
  PRO/ksweeni/5월3주차/단어 변환.js
  PRO/ksweeni/5월3주차/땅따먹기.js
  PRO/ksweeni/5월3주차/여행경로.js
  PRO/ksweeni/5월3주차/오픈채팅방.js
  PRO/ksweeni/5월3주차/타겟 넘버.js
Labels: JS, PRO

#80 230516
  PRO/hyoribogo/5월3주차/[Lv.2] 땅따먹기.js
Labels: JS, PRO

#78 230516, 230517
  BOJ/ImNuam/5월1주차/최소 힙.py
  BOJ/ImNuam/5월1주차/큐.py
Labels: Python, BOJ

#79 230516
  BOJ/chysis/5월3주차/01타일.cpp
  BOJ/chysis/5월3주차/가장 큰 정사각형.cpp
  BOJ/chysis/5월3주차/오르막 수.cpp
Labels: C++, BOJ

#82 230516, 230517
  SWEA/Si-Hyun-Park/5월 3주차/[10505]소득 불균형.py
  SWEA/Si-Hyun-Park/5월 3주차/[1215]회문1.py
  SWEA/Si-Hyun-Park/5월 3주차/[1217]거듭 제곱.py
  SWEA/Si-Hyun-Park/5월 3주차/[12368]24시간.py
  SWEA/Si-Hyun-Park/5월 3주차/[1289]원재의 메모리 복구하기.py
  SWEA/Si-Hyun-Park/5월 3주차/[13218]조별과제.py
  SWEA/Si-Hyun-Park/5월 3주차/[1859]백만장자 프로젝트.py
  SWEA/Si-Hyun-Park/5월 3주차/[3431]준환이의 운동관리.py
  SWEA/Si-Hyun-Park/5월 3주차/[4406]모음이 보이지 않는 사람.py
Labels: Python, SWEA

#83 230517
  PRO/ksweeni/5월3주차/기사단원의 무기.js
  PRO/ksweeni/5월3주차/방문 길이.js
  PRO/ksweeni/5월3주차/파일명 정렬.js
Labels: JS, PRO

#81 230516
  BOJ/linavell/5월3주차/직각삼각형.py
Labels: Python, BOJ

#84 230517
  BOJ/Chaerim/5월3주차/쇠막대기.py
Labels: Python, BOJ

#85 230517
  PRO/hyoribogo/5월3주차/[Lv.1] 기사단원의 무기.js
Labels: JS, PRO

#86 [230517]
  BOJ/suhoon/5월3주차/주유소.py
  BOJ/suhoon/5월3주차/특정 거리의 도시 찾기.py
  PRO/suhoon/5월3주차/베스트앨범.py
Labels: Python, BOJ

#87 230518, 230519
  BOJ/Chaerim/5월3주차/아이들과 선물 상자.py
  BOJ/Chaerim/5월3주차/카드 문자열.py
  BOJ/Chaerim/5월3주차/카드 문자열.py.f2d4796ec35e95b16f552f6f781bbbf0.tmp
Labels: Python, BOJ

#88 230518, 230519
  BOJ/chysis/5월3주차/N-Queen.cpp
  BOJ/chysis/5월3주차/N과 M(1).cpp
  BOJ/chysis/5월3주차/N과 M(2).cpp
  BOJ/chysis/5월3주차/N과 M(3).cpp
  BOJ/chysis/5월3주차/N과 M(4).cpp
  BOJ/chysis/5월3주차/N과 M(5).cpp
  BOJ/chysis/5월3주차/N과 M(8).cpp
Labels: C++, BOJ

#91 230518, 230519
  PRO/hyoribogo/5월3주차/[Lv.1] 로또의 최고 순위와 최저 순위.js
  PRO/hyoribogo/5월3주차/[Lv.2] 스킬트리.js
Labels: JS, PRO

#90 230518
  BOJ/linavell/5월3주차/수 정렬하기 2.py
Labels: Python, BOJ

#92 230518
  ETC/Si-Hyun-Park/HackerRank/5월 3주차/A Very Big Sum.py
  ETC/Si-Hyun-Park/HackerRank/5월 3주차/Compare the Triplets.py
  ETC/Si-Hyun-Park/HackerRank/5월 3주차/Diagonal Difference.py
  ETC/Si-Hyun-Park/HackerRank/5월 3주차/Mini-Max Sum.py
  ETC/Si-Hyun-Park/HackerRank/5월 3주차/Plus Minus.py
  ETC/Si-Hyun-Park/HackerRank/5월 3주차/Simple Array Sum.py
  ETC/Si-Hyun-Park/HackerRank/5월 3주차/Solve Me First.py
  ETC/Si-Hyun-Park/HackerRank/5월 3주차/Staircase.py
  SWEA/Si-Hyun-Park/5월 3주차/[10570]제곱 펠린드롬 수.py
  SWEA/Si-Hyun-Park/5월 3주차/[11688] Calkin-Wilf tree 1.py
  SWEA/Si-Hyun-Park/5월 3주차/[12221]구구단2.py
  SWEA/Si-Hyun-Park/5월 3주차/[5601]쥬스 나누기.py
Labels: Python, SWEA

#93 230519
  PRO/ksweeni/5월3주차/로또의 최고 순위와 최저 순위.js
  PRO/ksweeni/5월3주차/스킬트리.js
  PRO/ksweeni/5월3주차/프로세스.js
Labels: JS, PRO

#94 230519
  BOJ/suhoon/5월3주차/크게 만들기.py
Labels: Python, BOJ

#95 230522
  PRO/ksweeni/5월4주차/[3차] n진수 게임.js
  PRO/ksweeni/5월4주차/모음사전.js
  PRO/ksweeni/5월4주차/소수찾기.js
  PRO/ksweeni/5월4주차/숫자짝꿍.js
  PRO/ksweeni/5월4주차/최고의 집합.js
Labels: JS, PRO

#96 230522
  BOJ/chysis/5월4주차/계단 오르기.cpp
Labels: C++, BOJ

#97 230522
  PRO/hyoribogo/5월4주차/[Lv.2] 모음 사전.js
Labels: JS, PRO

#98 230522
  BOJ/suhoon/5월3주차/보석 도둑.py
  PRO/suhoon/5월4주차/N으로 표현.py
Labels: Python, PRO

#99 230522
  BOJ/Chaerim/5월3주차/카드 문자열.py
  BOJ/Chaerim/5월3주차/카드 문자열.py.f2d4796ec35e95b16f552f6f781bbbf0.tmp
  BOJ/Chaerim/5월4주차/Queuestack.py
Labels: Python, BOJ

#100 230522
  BOJ/Si-Hyun-Park/5월 4주차/2630.py
  SWEA/Si-Hyun-Park/5월 3주차/[1220]Magnetic.py
  SWEA/Si-Hyun-Park/5월 3주차/[1225]암호생성기.py
  SWEA/Si-Hyun-Park/5월 3주차/[15941]평행사변형.py
Labels: Python, BOJ

#101 230522
  PRO/kimjaeyoonn/5월 3주차/문자열 재정렬.py
Labels: Python, PRO

#108 230524
  PRO/ksweeni/5월4주차/[1차] 프렌즈4블록.js
Labels: JS, PRO

#107 230523, 230524
  BOJ/Si-Hyun-Park/5월 4주차/11279.py
  BOJ/Si-Hyun-Park/5월 4주차/1158.py
  BOJ/Si-Hyun-Park/5월 4주차/17219.py
Labels: Python, BOJ

#104 230523, 230524
  BOJ/linavell/5월 4주차/균형 잡힌 세상.py
  BOJ/linavell/5월 4주차/다리 놓기.py
Labels: Python, BOJ

#105 230523, 230524
  PRO/hyoribogo/5월4주차/[Lv.1] 숫자 짝꿍.js
  PRO/hyoribogo/5월4주차/[Lv.2] 프렌즈4블록.js
Labels: JS, PRO

#103 230523, 230524
  BOJ/chysis/5월4주차/N과 M(12).cpp
  BOJ/chysis/5월4주차/N과 M(9).cpp
  BOJ/chysis/5월4주차/평범한 배낭.cpp
Labels: C++, BOJ

#114 230525
  BOJ/Chaerim/5월4주차/듣보잡.py
  BOJ/Chaerim/5월4주차/조세퍼스문제.py
Labels: Python, BOJ

#115 230525, 230526
  BOJ/Si-Hyun-Park/5월 4주차/11724.py
  BOJ/Si-Hyun-Park/5월 4주차/1697.py
Labels: Python, BOJ

#112 230525
  PRO/hyoribogo/5월4주차/[Lv.1] 옹알이 (2).js
Labels: JS, PRO

#116 230525
  BOJ/suhoon/5월4주차/한 줄로 서기.py
Labels: Python, BOJ

#110 230525
  BOJ/chysis/5월4주차/A → B.cpp
  BOJ/chysis/5월4주차/구간 합 구하기 5.cpp
Labels: C++, BOJ

#111 230525 도움필요
  BOJ/ImNuam/5월 4주차/뱀 의사코드.txt
  BOJ/ImNuam/5월 4주차/뱀.py
Labels: Question, Python, BOJ

#118 230526
  BOJ/suhoon/5월4주차/숫자 카드 2.py
Labels: Python, BOJ

#117 230526
  PRO/hyoribogo/5월4주차/[Lv.0] 주사위 게임 3.js
Labels: JS, PRO

#121 230529
  BOJ/Chaerim/5월4주차/후위표기식2.py
Labels: Python, BOJ

#119 230529
  BOJ/chysis/5월5주차/트리의 부모 찾기.cpp
Labels: C++, BOJ

#120 230529
  PRO/hyoribogo/6월1주차/[Lv.0] 배열 만들기 2.js
  PRO/hyoribogo/6월1주차/[Lv.1] 명예의 전당 (1).js
  PRO/hyoribogo/6월1주차/[Lv.2] 2개 이하로 다른 비트.js
  PRO/hyoribogo/6월1주차/[Lv.3] 단속카메라.js
Labels: JS, PRO

#122 230529
  LEET/suhoon/5월4주차/UniquePaths.py
  PRO/suhoon/5월4주차/Z.py
  PRO/suhoon/5월4주차/스택.py
  PRO/suhoon/5월4주차/회의실 배정.py
Labels: Python, BOJ

#127 230530
  BOJ/Chaerim/5월5주차/절댓값 힙.py
  BOJ/Chaerim/5월5주차/후위 표기식2.py
Labels: Python, BOJ

#126 230530
  PRO/hyoribogo/6월1주차/[Lv.1] 과일 장수.js
  PRO/hyoribogo/6월1주차/[Lv.2] 뉴스 클러스터링.js
Labels: JS, PRO

#124 230530
  BOJ/chysis/5월5주차/후위 표기식.cpp
Labels: C++, BOJ

#128 230530
  BOJ/linavell/5월5주차/큐.py
Labels: Python, BOJ

#129 230530
  BOJ/Si-Hyun-Park/5월 5주차/7576.py
Labels: Python, BOJ
